pkgbase = kde-unity-global-theme
	pkgdesc = Ubuntu Unity look and feel for KDE Plasma 6
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/Anonymo/kde-unity-global-theme
	arch = any
	license = GPL3
	makedepends = git
	depends = plasma-desktop>=6.0
	depends = qt6-base>=6.4
	depends = ttf-ubuntu-font-family
	depends = yaru-icon-theme
	depends = yaru-gtk-theme
	depends = ubuntu-wallpapers
	depends = papirus-icon-theme
	depends = plasma-browser-integration
	depends = plasma-integration
	source = git+https://github.com/Anonymo/kde-unity-global-theme.git
	sha256sums = SKIP

pkgname = kde-unity-global-theme