[Desktop Entry]
Name=Unity
Comment=Unity-style window decorations
Encoding=UTF-8
Keywords=window;decoration;Unity;Ubuntu
X-KDE-PluginInfo-Author=Anonymo
X-KDE-PluginInfo-Email=meowdib@gmail.com
X-KDE-PluginInfo-Name=Unity
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/Anonymo/kde-unity-global-theme
X-KDE-PluginInfo-Category=Window Decoration
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-PluginInfo-EnabledByDefault=true